<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/style.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <title> {{title}} </title>
        <style>.form-container {
        display: inline-block;
        width: 45%; /* Adjust the width as needed */
        margin-right: 20px; /* Adjust the margin as needed */
    }
        </style>
    </head>
    <body>

        {{{body}}}

    </body>
</html>