<div> Hello World - Nothing much yet, console trying to connect with proxmox </div>

<div id="btn_set">
    <button type="button" id="test-btn">
        Ping
    </button>
</div>


<script src="scripts/intro.js"></script>